body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.toDoListContainer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Prevents text from wrapping */
}

.addButton {
  background-color: hsl(120, 100%, 54%);
  margin-left: 10px;
}

.addButton:hover {
  background-color: hsl(120, 100%, 44%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.8);
  width: 70%;
  margin-right: 10px;
}

ol {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid grey;
  border-radius: 5px;
}

.listText {
  flex: 1;
  text-align: left;
  overflow: auto;
}

.deleteButton,
.moveButton,
.editButton,
.cancelButton,
.saveButton {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.deleteButton {
  background-color: #ff6347;
}

.deleteButton:hover {
  background-color: #e74c3c;
}

.moveButton {
  background-color: #3498db;
}

.moveButton:hover {
  background-color: #2980b9;
}

.editButton {
  background-color: #f39c12;
}

.editButton:hover {
  background-color: #e67e22;
}

.cancelButton {
  background-color: #95a5a6;
}

.cancelButton:hover {
  background-color: #7f8c8d;
}

.saveButton {
  background-color: #2ecc71;
}

.saveButton:hover {
  background-color: #27ae60;
}

.checkbox {
  transform: scale(1.3);
  margin-right: 10px;
}

.strikethrough {
  text-decoration: line-through;
}

.inputDiv{
  display: flex;
  align-items: center;
}